<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.App.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FdfReader">
        <activity
            android:name=".Activities.Splash_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.tools.Setting"
            android:exported="false" />
        <activity
            android:name=".Activities.tools.Document_Scanner"
            android:exported="false" />
        <activity
            android:name=".Activities.tools.Scan_Barcode"
            android:exported="false" />
        <activity
            android:name=".Activities.tools.Scan_Qr_Code"
            android:exported="false" />
        <activity
            android:name=".Activities.tools.Create_Notes"
            android:exported="false" />
        <activity
            android:name=".Activities.pdf_options.My_Creation"
            android:exported="false" />
        <activity
            android:name=".Activities.pdf_options.Merg_to_PDF"
            android:exported="false" />
        <activity
            android:name=".Activities.pdf_options.Read_Online_PDF"
            android:exported="false" />
        <activity
            android:name=".Activities.pdf_options.Remove_PDF_Password"
            android:exported="false" />
        <activity
            android:name=".Activities.pdf_options.Add_PDF_Password"
            android:exported="false" />
        <activity
            android:name=".Activities.pdf_options.PDF_to_Image"
            android:exported="false" />
        <activity
            android:name=".Activities.pdf_options.Text_to_PDF"
            android:exported="false" />
        <activity
            android:name=".Activities.pdf_options.Image_to_PDF"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.Recent_Files"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.Bookmark_File"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.Folder_Files"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.Rtf"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.Rar"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.Zip"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.Text"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.Sheets"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.Slide"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.Pdf"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.Word"
            android:exported="false" />
        <activity
            android:name=".Activities.All_Documents.All_Documents"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>